<div class="container">


    <header class="pageHeader">
        <h3>Create products</h3>
    </header>

    <form #f="ngForm" (ngSubmit)="f.form.valid ? save() :
     (!category.valid && showErrorAlert('Category is required', 'Please enter a category'));
     (!productName.valid && showErrorAlert('Name is required', 'Please enter a product name (minimum of 6 and maximum of 200 characters)'));
     (!price.valid && showErrorAlert('Price is required', 'Please enter a price of product'));
     (!createdBy.valid && showErrorAlert('Username is required', 'Please enter a username'));
     (!email.valid && showErrorAlert('Email is required', 'Please enter a product name (minimum of 5 and maximum of 200 characters)'));
      ">

        <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="category">Category</label>
            <div class="col-md-10">
                <input autofocus type="text" attr.id="category" name="category" placeholder="Enter category name"
                       class="form-control" [(ngModel)]="productEdit.category" #category="ngModel" required maxlength="200" />
                <span *ngIf="f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': category.valid, 'glyphicon-remove' : !category.valid}"></span>
                <span *ngIf="f.submitted && !category.valid" class="errorMessage">
                    Category field is required.
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr class="edit-separator-hr" />
            </div>
        </div>

        <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="productName">Name</label>
            <div class="col-md-10" [ngClass]="{'has-success': f.submitted && productName.valid, 'has-error' : f.submitted && !productName.valid}">
                <input type="text" attr.id="productName" name="productName" placeholder="Enter Product Title"
                       class="form-control" [(ngModel)]="productEdit.name" #productName="ngModel" required minlength="6" maxlength="200" />
                <span *ngIf="f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': productName.valid, 'glyphicon-remove' : !productName.valid}"></span>
                <span *ngIf="f.submitted && !productName.valid" class="errorMessage">
                    Name is required.
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr class="edit-separator-hr" />
            </div>
        </div>

        <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="description">description</label>
            <div class="col-md-10">
                <input type="text" attr.id="description" name="description" placeholder="Enter description name"
                       class="form-control" [(ngModel)]="productEdit.description" #description="ngModel" maxlength="200" />
                <span *ngIf="f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': description.valid, 'glyphicon-remove' : !description.valid}"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr class="edit-separator-hr" />
            </div>
        </div>

        <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="price">Price</label>
            <div class="col-md-10">
                <input type="number" attr.id="price" name="price" placeholder="Enter price name"
                       class="form-control" [(ngModel)]="productEdit.price" #price="ngModel" required maxlength="200" />
                <span *ngIf="f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': price.valid, 'glyphicon-remove' : !price.valid}"></span>
                <span *ngIf="f.submitted && !price.valid" class="errorMessage">
                    Price is required.
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr class="edit-separator-hr" />
            </div>
        </div>

        <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="createdBy">Username</label>
            <div class="col-md-10">
                <input type="text" attr.id="createdBy" name="createdBy" placeholder="Enter createdBy name"
                       class="form-control" [(ngModel)]="productEdit.createdBy" #createdBy="ngModel" required maxlength="200" />
                <span *ngIf="f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': createdBy.valid, 'glyphicon-remove' : !createdBy.valid}"></span>
                <span *ngIf="f.submitted && !createdBy.valid" class="errorMessage">
                    Username is required.
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr class="edit-separator-hr" />
            </div>
        </div>

        <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="email">Email</label>
            <div class="col-md-10">
                <input type="email" attr.id="email" name="email" placeholder="Enter email name"
                       class="form-control" [(ngModel)]="productEdit.email" #email="ngModel" required email />
                <span *ngIf="f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': email.valid, 'glyphicon-remove' : !email.valid}"></span>
                <span *ngIf="f.submitted && !email.valid" class="errorMessage">
                    Email address is required.
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr class="edit-separator-hr" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-7">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

    </form>
</div>
